@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: grid;
  min-width: 320px;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.header {
  background-color: #f9f9f9;
}

.logo {
  display: block;
  width: 86px;
  height: 35px;
}

.logo__image {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}

.navigation__text {
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  color: #444444;
}

.button {
  display: block;
  width: 100%;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-weight: 700;
  font-size: 25px;
  margin: 0;
}

.title--main {
  font-size: 27px;
}

.presentation__title {
  text-align: center;
}

.presentation__container {
  background-color: #f1f1f1;
}

.product-list__link {
  font-weight: 700;
  line-height: 24px;
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
}

.product-list__item--interior {
  background-color: #63d1bb;
}

.product-list__item--toys {
  background-color: #56c3b2;
}

.promo {
  background-color: #ffffffff;
}

.promo__type {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.promo__description {
  font-weight: 400;
  line-height: 24px;
  color: #444444;
}

.promo__cost {
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-align: center;
}

.specification__item {
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

.specification__parameter {
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

.specification__property {
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

.about__item {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
}

.review__text {
  font-weight: 400;
  color: #444444;
  font-size: 15px;
}

.review__author-name {
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}

.review__author-instagram {
  font-weight: 400;
  line-height: 24px;
  font-size: 17px;
}

.contacts__list {
  font-weight: 400;
  font-size: 14px;
}

.contacts__property {
  font-weight: 400;
  font-size: 14px;
}

.contacts__parameter {
  font-weight: 400;
  font-size: 14px;
}

.contacts__button {
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
}

.contacts__property--link {
  border-bottom: solid #62d1ba 1px;
}

.footer {
  background-color: #f1f1f1;
}

.developed__title {
  font-weight: 700;
  line-height: 18px;
  font-size: 19px;
}

.card__title {
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}

.card__param {
  font-weight: 400;
  font-size: 13px;
}

.card__price {
  font-weight: 700;
  line-height: 24px;
}

.process__title {
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}

.process__description {
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
}

.process__order {
  font-weight: 700;
  line-height: 16px;
  font-size: 18px;
}

.order__description {
  color: #444444;
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
}

.form__title {
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form__label {
  font-weight: 700;
  line-height: 18px;
  font-size: 17px;
}

.form__input {
  width: 100%;
  max-width: 700px;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444444;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
}

.form__button {
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
}

.form__notice {
  font-weight: 400;
  line-height: 16px;
  font-size: 14px;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */