.about {
  background-color: #ffffff;
  font-weight: 700;
}

.about__title {
  font-size: 53px;
  line-height: 57px;
}

.about__item {
  line-height: 22px;
  font-size: 20px;
}

.button-toggle {
  z-index: 1;
}

.about__item {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
}

.card {
  background-color: #ffffff;
}

.catalog {
  background-color: #ffffff;
}

.contacts {
  background-color: #ffffff;
}

.contacts__title {
  font-weight: 700;
  line-height: 50px;
  font-size: 43px;
}

.contacts__list {
  font-weight: 400;
  line-height: 30px;
  font-size: 17px;
}

.contacts__button {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
  text-transform: uppercase;
}

.contacts__property--link {
  border-bottom: solid #62d1ba 1px;
}

.container {
  z-index: 1;
}

.developed__title {
  font-weight: 700;
  line-height: 18px;
  font-size: 19px;
}

.footer {
  background-color: #f1f1f1;
}

.form__title {
  color: #63d1bb;
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.form__label {
  font-weight: 700;
  line-height: 18px;
  font-size: 19px;
}

.form__notice {
  color: #444444;
  font-weight: 400;
  line-height: 30px;
  font-size: 17px;
}

.form__button {
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
}

.form__container--gray {
  background-color: #f1f1f1;
}

.header {
  background-color: #ffffffff;
}

.list-reset {
  margin: 0;
  padding: 0;
}

.logo {
  z-index: 1;
}

.main {
  z-index: 1;
}

.map {
  z-index: 1;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
}

.navigation__list {
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}

.navigation__list--promo {
  font-size: 15px;
}

.navigation__text {
  color: #444444;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
}

.order__description {
  color: #444444;
  font-weight: 400;
  line-height: 30px;
  font-size: 17px;
}

.presentation__title {
  font-weight: 700;
  line-height: 57px;
  font-size: 53px;
  text-align: center;
}

.presentation__container {
  background-color: #f1f1f1;
}

.process__title {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
}

.process__description {
  font-weight: 400;
  line-height: 30px;
  font-size: 15px;
}

.process__order {
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
}

.product-list__link {
  color: #ffffff;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
  text-decoration: none;
}

.product-list__item--interior {
  background-color: #63d1bb;
}

.product-list__item--toys {
  background-color: #56c3b2;
}

.promo {
  background-color: #ffffffff;
}

.promo__type {
  color: #63d1bb;
  font-weight: 700;
  line-height: 17px;
  font-size: 17px;
  text-transform: uppercase;
}

.promo__title {
  font-weight: 700;
  line-height: 57px;
  font-size: 53px;
}

.promo__description {
  color: #444444;
  font-weight: 400;
  line-height: 30px;
  font-size: 17px;
}

.promo__cost {
  color: #444444;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
}

.promo__button {
  color: #444444;
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
  text-align: center;
}

.review__text {
  color: #444444;
  font-weight: 400;
  line-height: 30px;
  font-size: 17px;
}

.review__author {
  font-size: 17px;
}

.review__author-name {
  font-weight: 700;
  line-height: 24px;
}

.review__author-instagram {
  font-weight: 400;
  line-height: 30px;
}

.reviews {
  background-color: #ffffffff;
}

.reviews__title {
  font-weight: 700;
  line-height: 57px;
  font-size: 53px;
}

.reviews__button {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
}

.social-list {
  z-index: 1;
}

.specification__item {
  color: #444444;
  font-weight: 400;
  line-height: 20px;
  font-size: 15px;
}

.tistle {
  z-index: 1;
}

.video {
  z-index: 1;
}

.visudally-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open sans", sans-serif;
  color: #000000;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */