.button {
  display: block;
  width: 100%;
  padding: 14px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  font-family: inherit;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border: 2px solid #444444;
  cursor: pointer;
}
