.card {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 334px 1fr;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.card__image {
  display: block;
  height: 195px;

  @media (min-width: 768px) {
    height: 334px;
  }

  @media (min-width: 1150px) {
    height: 462px;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.card__container {
  padding: 28px 28px 25px;

  border: 1px solid #ececec;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 33px 25px;
  }

  @media (min-width: 1150px) {
    padding: 27px 27px 25px;
  }
}

.card:hover .card__container,
.card:focus-within .card__container {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.card:active .card__container {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card__title-link {
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__title {
  margin: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 780px) {
    font-size: 20px;
  }
}

.card__param {
  margin-top: 5px;
  margin-bottom: 17px;
  font-size: 13px;

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.card__buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 23px;

  border-top: 1px solid #ececec;
}

.card__price {
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.card__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 19px;

  color: rgba(0, 0, 0, 0.2);

  &:hover,
  &:focus {
    color: #63d1bb;

    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__cart svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
