.catalog {
  padding: 30px 0;

  @media (min-width: 768px) {
    padding-top: 68px;
  }

  @media (min-width: 1150px) {
    padding-top: 112px;
    padding-bottom: 33px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 29px;

  @media (min-width: 768px) {
    gap: 54px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}
