.container {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: 768px) {
    padding: 0 50px;
  }

  @media (min-width: 1150px) {
    padding: 0 97px;
  }
}
