.developed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  color: #000000;
  text-decoration: none;

  & svg {
    fill: #63d1bb;
  }

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.developed__text {
  display: inline-block;
  margin-right: 27px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}
