.footer {
  background-color: #f1f1f1;
}

.footer__logo {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__container {
  @media (min-width: 768px) {
    display: flex;
    gap: 123px;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 1150px) {
    justify-content: space-between;
  }
}
