.form__title {
  color: #63d1bb;
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}

.form__label {
  font-weight: 700;
  line-height: 18px;
  font-size: 19px;
}

.form__notice {
  color: #444444;
  font-weight: 400;
  line-height: 30px;
  font-size: 17px;
}

.form__button {
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
}

.form__container--gray {
  background-color: #f1f1f1;
}
