.form {
  padding-top: 29px;

  @media (min-width: 768px) {
    padding-top: 13px;
  }
}

.form__group {
  margin: 0;
  padding: 0;

  border: none;
}

.form__group:nth-child(2n):not(:last-child) {
  @media (min-width: 768px) {
    background-color: #f1f1f1;
  }
}

.form__container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 167px 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 114px 1fr;
    padding: 49px 111px;
  }
}

.form__group--contacts .form__container {
  margin-bottom: 35px;

  @media (min-width: 768px) {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 167px 1fr;
    gap: 0;
  }

  @media (min-width: 1150px) {
    padding: 0 111px;
  }
}

.form__title {
  font-weight: 700;
  line-height: 16px;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 19px;
  margin: 0;

  &::after {
    @media (max-width: 767px) {
      content: "";
      width: 100%;
      height: 1px;
      box-shadow: 0 8px 0 0 #62d1ba;
    }
  }
}

.form__group--radio .form__list {
  margin: 30px 0 31px;
  display: flex;
  flex-direction: column;
  gap: 11px;

  @media (min-width: 768px) {
    margin: 0;
    gap: 24px;
  }
}

.form__item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: fit-content;
  min-height: 40px;
}

.form__group--checkbox .form__list {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  padding: 25px 0 33px 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
    padding: 0;
  }

  @media (min-width: 1150px) {
    grid-template-columns: repeat(3, 248px);
    gap: 24px 14px;
  }
}

.form__group--name .form__list {
  @media (max-width: 767px) {
    margin: 29px 0 34px;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}

.form__input-group {
  @media (min-width: 1150px) {
    max-width: 700px;
  }
}

.form__group--name .form__input-group {
  margin-bottom: 22px;

  @media (min-width: 768px) {
    display: flex;
    gap: 24px;
  }
}

.form__group--name .form__input {
  padding: 17px 23px 17px 16px;
}

.form__group--contacts {
  @media (min-width: 768px) {
    padding: 50px 0;
  }
}

.form__group.form__group--contacts {
  @media (min-width: 768px) {
    display: grid;
    row-gap: 24px;
  }
}

.form__group--submit-notice .form__container {
  padding-top: 17px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 230px 1fr;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 0;
  }
}

.form__label {
  font-weight: 700;
  line-height: 18px;
  font-size: 17px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 19px;
  }
}

.form__input-control {
  position: relative;

  display: block;
  flex-shrink: 0;
  margin: 0 23px 0 0;

  background-color: transparent;
  border: 2px solid #444444;

  appearance: none;

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #444444;
    opacity: 0.3;
  }
}

.form__input-control--radio {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  @media (min-width: 768px) {
    width: 50px;
    height: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: none;
    width: 16px;
    height: 16px;

    background-color: #62d1ba;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}

.form__input-control--radio:checked::before {
  display: block;
}

.form__input-control--checkbox {
  width: 38px;
  height: 38px;
}

.form__input-control--checkbox:checked {
  background-image: url("../img/svg/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: 768px) {
    background-size: 32px 22px;
  }
}

.form__input {
  width: 100%;
  max-width: 700px;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 14px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  font-family: $font-family;
  color: #444444;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;

  &:hover {
    border-color: #62d1ba;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);

    opacity: 0.7;
  }

  &:active {
    border-color: #62d1ba;
  }
}

.form__label-contacts {
  position: relative;

  @media (min-width: 1150px) {
    max-width: 700px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    display: block;

    background-color: rgba(0, 0, 0, 0.2);
  }
}

.form__label-contacts--tel {
  @media (max-width: 767px) {
    padding: 14px 0 20px 0;
  }

  &::after {
    content: "";
    right: 3px;
    top: 12px;
    width: 25px;
    height: 24px;
    mask-image: url("../img/sprite.svg#icon-phone");

    @media (min-width: 768px) and (max-width: 1149px) {
      right: 27px;
    }

    @media (min-width: 1150px) {
      right: 8px;
    }
  }

  &:hover::after {
    background-color: #62d1ba;
  }
}


.form__label-contacts--mail {
  @media (max-width: 767px) {
    padding: 15px 0 18px 0;
  }

  &::after {
    right: 15px;
    top: 12px;
    width: 32px;
    height: 21px;

    mask-image: url("../img/sprite.svg#icon-mail");

    @media (min-width: 768px) and (max-width: 1149px) {
      right: 27px;
    }

    @media (min-width: 1150px) {
      right: 4px;
    }
  }

  &:hover::after {
    background-color: #62d1ba;
  }
}

.form__group--textarea textarea {
  height: 142px;
  padding: 15px;

  border: 2px solid #444444;

  resize: none;
  margin-top: 23px;
}

.form__notice {
  margin: 0 0 30px;
  line-height: 16px;
  font-size: 14px;

  @media (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    margin-left: auto;
  }
}

.form__button {
  line-height: 16px;
  font-size: 17px;

  @media (min-width: 768px) {
    grid-column: 1/2;
  }
}
