.header {
  position: relative;

  background-color: #f9f9f9;

  @media (max-width: 767px) {
    padding-top: 80px;
    background-color: #ffffff;
  }

  @media (min-width: 1150px) {
    overflow: hidden;
  }

.header--page {
  background-color: #f1f1f1;
}
