.logo {
  display: block;
  width: 86px;
  height: 35px;

  @media (min-width: 768px) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: 1150px) {
    width: 149px;
    height: 72px;
  }
}

.logo__image {
  display: block;
  width: 100%;
  height: 100%;
}
