.map {
  width: 100%;
  height: 454px;
  margin-bottom: 41px;

  @media (min-width: 1150px) {
    margin-bottom: 0;
  }
}

.map iframe {
  width: 100%;
  height: 100%;

  border: none;
}

.map__link {
  display: block;
  height: 100%;
}

.map__link img {
  display: block;
  width: 100%;
  height: 100%;
}


// И убираем iframe если js не работает
.no-js iframe {
  display: none;
}
