.map {
  position: relative;
  margin-bottom: 41px;
}

.map__pin {
  position: absolute;
  left: 138px;
  top: 145px;
}

.map__link {
  display: flex;
  background: url("../img/map-mobile.jpg") no-repeat;
  width: 320px; 
  height: 455px;
}
