.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal--close {
  display: none;
}

.modal__container {
  z-index: 20;
  margin: auto;
  background-color: #ffffff;
  border-top: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

  @media (min-width: 768px) {
    padding: 37px 92px 46px 92px;
  }
}
