.presentation__title {
  text-align: center;  
}

.presentation__container {
  background-color: #f1f1f1;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.presentation__container--main{
  background: url("../img/presentation--main.jpg") no-repeat;
  width: 100%;
  height: 100%;
  @media (min-width: @tablet-width){
    background: url("../img/presentation-tablet.jpg") no-repeat;

  }
}
