.presentation {
  padding: 72px 0 73px;

  background-color: #f1f1f1;

  @media (min-width: 768px) {
    position: relative;
    padding: 56px 0 84px;
  }

  @media (min-width: 1150px) {
    padding: 39px 0 112px;
  }

  &::after {
    @media (min-width: 768px) {
      content: "";
      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;
      z-index: 1;

      height: 24px;

      background-image: url("../img/svg/zigzag-wave-tablet.svg");
      background-repeat: repeat-x;
      background-position: center;
      background-size: contain;
    }

    @media (min-width: 1150px) {
      height: 34px;

      background-image: url("../img/svg/zigzag-wave-desktop.svg");
    }
  }
}

.presentation--main {
  padding-bottom: 0;

  background-color: #f9f9f9;
  background-image: url("../img/presentation-mobile.jpg");
  background-repeat: no-repeat;

  background-position: center top -17px;
  background-size: auto 76%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/presentation-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    padding-top: 111px;
    background-image: url("../img/presentation-tablet.jpg");
    background-position: center bottom 19px;
    background-size: auto 103%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/presentation-tablet@2x.jpg");
    }
  }

  @media (min-width: 1150px) {
    padding-top: 95px;
    background-image: url("../img/presentation-desktop.jpg");
    background-position: center bottom 17px;
    background-size: auto 106%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/presentation-desktop@2x.jpg");
    }
  }
}

.presentation__container {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.presentation--main .presentation__container {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    min-height: 600px;
  }

  @media (min-width: 1150px) {
    min-height: 604px;
  }
}

.presentation__title {
  padding: 0 30px;
  text-align: center;
}

.presentation__menu {
  margin-top: 120px;

  @media (min-width: 768px) {
    margin-top: auto;
  }
}
