.presentation {
  padding: 73px 0;

  background-color: #f1f1f1;

  @media (min-width: 768px) {
    padding-top: 110px;
  }

  @media (min-width: 1150px) {
    padding-top: 114px;
  }
}

.presentation--main {
  padding-bottom: 0;

  background-color: #f9f9f9;
  background-image: url("../img/presentation-main.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;

  @media (min-width: 768px) {
    background-image: url("../img/presentation-tablet.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #F9F9F9;
    
  }

  @media (min-width: 1150px) {
    
  }

}

.presentation__container {
  @media (max-width: 767px) {
    padding: 0;
  }
}

.presentation--main .presentation__container {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    min-height: 602px;
  }

  @media (min-width: 1150px) {
    min-height: 604px;
  }
}

.presentation__title {
  padding: 0 30px;
  text-align: center;
}

.presentation__menu {
  margin-top: 120px;
  @media (min-width: 768px) {
    margin-top: auto;
  }
}
