
.process {
  padding: 0 30px;

  @media (min-width: 768px) {
    padding: 23px 50px 41px 50px;
  }
}

.process__container {
  padding: 0;

  border: 1px solid #ececec;

  @media (min-width: 768px) {
    display: grid;
    grid-template-rows: 1fr;
    border: none;
  }

  @media (min-width: 1150px) {
    grid-template-columns: 683px 1fr;
    grid-template-rows: auto;
    padding: 0 50px;
    border: none;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 #0000001a;
  }

  &:active {
    box-shadow: 0 3px 5px 0 #0000001a;
  }
}

.process__title {
  margin: 0;
  padding: 23px 15px 25px 90px;
  background-image: url("../img/svg/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 34px 35px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 768px) {
    grid-row: 2/3;
    font-size: 20px;
    padding: 41px 290px 24px 107px;
    background-position: 39px 42px;
    border: 1px solid #ececec;
    border-bottom: none;
  }

  @media (min-width: 1150px) {
    grid-row: 1/2;
    grid-column: 2/3;
    border: 1px solid #ececec;
    background-position: 79px 47px;
    padding: 96px 110px 0 79px;
    border-bottom: 0;
    border-left: 0;
  }
}

.process__video {
  @media (min-width: 1150px) {
    grid-row: 1/3;
    border: 1px solid #ececec;
    border-right: none;
  }
}

.process__description-order {
  padding: 22px 32px 32px;

  @media (min-width: 768px) {
    padding: 0 40px 40px;
    border: 1px solid #ececec;
    border-top: none;
  }

  @media (min-width: 1150px) {
    padding: 0 36px 60px 79px;
    border-left: none;
  }
}

.process__description {
  margin: 0 0 40px;
  line-height: 24px;
  font-size: 13px;

  @media (min-width: 768px) {

    font-size: 15px;
  }

  @media (min-width: 1150px) {
    margin: 0 0 51px;
    line-height: 30px;
    font-size: 15px;
  }
}

.process__order {

  line-height: 16px;
  font-size: 18px;

  @media (min-width: 1150px) {
    padding: 18px 0;
  }
}
