
.process {
  padding: 0 30px 58px;

  @media (min-width: 768px) {
    padding: 23px 50px 62px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 105px;
  }
}

.process__container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;

  border: 1px solid #ececec;

  @media (min-width: 1150px) {
    grid-template-columns: 683px 1fr;
    grid-template-rows: auto 1fr;
    gap: 17px 59px;
    max-width: 1050px;
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.process__title {
  margin: 0;
  padding: 20px 15px 26px 90px;
  background-image: url("../img/svg/icon-video.svg");
  background-repeat: no-repeat;
  background-position: left 33px top 33px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;

  @media (min-width: 768px) {
    padding: 41px 15px 5px 105px;
    font-size: 20px;

    background-position: left 41px bottom 10px;
  }

  @media (min-width: 1150px) {
    padding: 95px 50px 5px 20px;
    background-position: top 45px left 20px;
  }
}

.process__video {
  @media (min-width: 768px) {
    order: -1;
  }

  @media (min-width: 1150px) {
    grid-row: 1 / span 2;
  }
}

.process__description-order {
  padding: 35px 32px 32px;

  @media (min-width: 768px) {
    padding: 20px 39px 45px;
  }

  @media (min-width: 1150px) {
    padding: 5px 20px 45px;
  }
}

.process__description {
  margin: 0 0 40px;
  line-height: 24px;
  font-size: 13px;

  @media (min-width: 768px) {
    line-height: 30px;
    font-size: 15px;
  }

  @media (min-width: 1150px) {
    margin: 0 0 51px;
  }
}

.process__order {
  padding: 18px 16px 16px;
  line-height: 16px;

  @media (min-width: 1150px) {
    width: 230px;
  }
}
