.process__title {
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
}

.process__description {
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
}

.process__order {
  font-weight: 700;
  line-height: 16px;
  font-size: 18px;
}
