.product-list__link {
  font-weight: 700;
  line-height: 24px;
  font-size: 19px;
  color: #ffffff;
  text-decoration: none;
}


.product-list__item--interior {
  background-color: #63d1bb;
}

.product-list__item--toys {
  background-color: #56c3b2;
}
