.product-list__link {
  color: #ffffff;
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
}


.product-list__item--interior {
  background-color: #63d1bb;
}

.product-list__item--toys {
  background-color: #56c3b2;
}
