.promo {
  background-color: #ffffffff;
}

.promo__type {
  color: #63d1bb;
  font-weight: 700;
  line-height: 17px;
  font-size: 17px;
  text-transform: uppercase;
}

.promo__title {
  font-weight: 700;
  line-height: 57px;
  font-size: 53px;
}

.promo__description {
  color: #444444;
  font-weight: 400;
  line-height: 30px;
  font-size: 17px;
}

.promo__cost {
  color: #444444;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  text-align: center;
}

.promo__button {
  color: #444444;
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
  text-align: center;
}
