.promo {
  background-color: #ffffffff;
}

.promo__type {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
}

.promo__description {
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  color: #444444;
}

.promo__cost {
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  color: #444444;
  text-align: center;
  color: #444444;
  text-align: center;
}

.promo__button {
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
}
