.review__text {
  font-size: 15px;
  margin: 0 0 33px;
  @media (min-width: 768px) {
    font-size: 17px;
    margin: 0 0 61px;
  }
}

.review__author-name {
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  display: block;
}

.review__author-instagram {
  line-height: 30px;
  font-size: 17px;
}

.review__item {
  display: none;
}

.review__item--active {
  display: block;
}
