.reviews {
  padding-top: 27px;
  padding-bottom: 51px;
  position: relative;

  background-image: url("../img/svg/zigzag-line-desktop.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  @media (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 102px;

    background-image: url("../img/svg/zigzag-line-desktop.svg"),
      url("../img/reviews-fon.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, top left;
    background-size: contain, 350px 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/svg/zigzag-line-desktop.svg"),
        url("../img/reviews-fon@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-bottom: 90px;

    background: none;
  }
}

.reviews__container {
  @media (min-width: 768px) {
    position: relative;
    display: grid;
    grid-template-columns: auto 175px;
    gap: 17px;
  }

  @media (min-width: 1150px) {
    position: relative;

    gap: 14px;
    padding: 77px 50px 63px 225px;

    background-image: url("../img/reviews-fon.jpg");
    background-repeat: no-repeat;
    background-position: top left 50px;
    background-size: 350px 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/reviews-fon@2x.jpg");
    }
  }

  &::after {
    @media (min-width: 1150px) {
      content: "";
      position: absolute;
      right: 50px;
      bottom: -91px;
      left: 50px;
      z-index: 1;

      height: 23px;

      background-image: url("../img/svg/zigzag-line-desktop.svg");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;
    }
  }
}

.reviews__title {
  margin-bottom: 14px;

  @media (min-width: 768px) {
    grid-column: 1/2;
    margin: 0;
    align-self: end;
  }
}

.reviews__slider {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    grid-column: 1 /-1;
    grid-row: 2 / 3;
  }
}

.reviews__control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 38px;

  border: 1px solid #ececec;

  @media (min-width: 768px) {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 175px;
    margin: 0;

    border: none;
  }

  @media (min-width: $desktop-width) {
    bottom: 106px;
  }
}

.reviews__control-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 49px;
  padding: 0;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;

  @media (min-width: 768px) {
    height: 35px;
  }

  &--next {
    border-left: 1px solid #ececec;
    transform: rotate(-180deg);

    @media (min-width: 768px) {
      border: none;
    }
  }

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);

    outline: none;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.reviews__control-arrow svg {
  width: 50px;
  height: 26px;

  fill: currentColor;
}

.reviews__button {
  @media (min-width: 768px) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @media (min-width: 768px) {
    align-self: start;
  }
}
