.reviews {
  background-color: #ffffffff;
}

.reviews__title {
  font-weight: 700;
  line-height: 57px;
  font-size: 53px;
}

.reviews__button {
  font-weight: 700;
  line-height: 20px;
  font-size: 17px;
}
