.reviews{
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title{
  margin-bottom: 14px;
}

.reviews__slider{
  margin-bottom: 30px;
}

.reviews__control{
  margin-bottom: 38px;
}

.reviews__button{
  margin-bottom: 45px;
}
