.size {
  max-width: 320px;
  padding: 30px 30px 46px;

  @media (min-width: 768px) {
    max-width: 566px;
    padding: 38px 106px 46px;
  }
}

.size__title {
  margin: 0 0 14px;
  font-weight: 700;
  line-height: 30px;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;


  @media (min-width: 768px) {
    margin-bottom: 11px;
    line-height: 57px;
    font-size: 30px;
  }

  @media (min-width: 1150px) {
    margin: 0 -1px 11px -1px;
  }
}

.size__text {
  margin: 0 0 22px;
  line-height: 30px;
  font-size: 15px;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 17px;
  }
}

.size__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  margin-bottom: 31px;
}

.size__label {
  display: block;
  width: 82px;
  padding: 17px 10px 15px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  color: #444444;

  border: 2px solid rgba(68, 68, 68, 0.1);

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: 768px) {
    width: 112px;
  }

  &:hover,
  &:focus {
    border-color: rgba(68, 68, 68, 0.3);
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

.size__input:checked + .size__label {
  border: 2px solid #63d1bb;
}

.size__submit {
  padding: 16px 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;

  background-color: #63d1bb;
  border: 2px solid #63d1bb;
}
