.specification__item {
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

.specification__parameter {
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}

.specification__property {
  font-weight: 400;
  line-height: 20px;
  color: #444444;
}
