.title {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: 1150px) {
    font-size: 53px;
    line-height: 57px;
  }
}.title--main {
  @media (max-width: 767px) {
    font-size: 27px;
  }
}
