.title {
  font-weight: 700;
  font-size: 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 50px;
    font-size: 43px;
  }
}

.title--main {
  font-size: 27px;
  width: 260px;
  margin: auto;
  margin-top: 73px;
  margin-bottom: 120px;

  @media (min-width: $tablet-width) {
    width: 668px;
    margin-top: 154px;
    margin-bottom: 372px;
    font-size: 43px;
  }
}
