*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: grid;
  min-width: 320px;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
}

// Viewports
@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
