@import "global/fonts.scss";
@import "global/global.scss";
@import "global/list-reset.scss";
@import "global/visually-hidden.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/navigation.scss";
@import "blocks/button.scss";
@import "blocks/main.scss";
@import "blocks/container.scss";
@import "blocks/title.scss";
@import "blocks/presentation.scss";
@import "blocks/product-list.scss";
@import "blocks/promo.scss";
@import "blocks/specification.scss";
@import "blocks/about.scss";
@import "blocks/reviews.scss";
@import "blocks/review.scss";
@import "blocks/contacts.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/social-list.scss";
@import "blocks/developed.scss";
@import "blocks/catalog.scss";
@import "blocks/card.scss";
@import "blocks/process.scss";
@import "blocks/video.scss";
@import "blocks/order.scss";
@import "blocks/form.scss";
