@import "blocks/about.scss";
@import "blocks/button-toggle.scss";
@import "blocks/button.scss";
@import "blocks/card.scss";
@import "blocks/catalog.scss";
@import "blocks/contacts.scss";
@import "blocks/container.scss";
@import "blocks/developed.scss";
@import "blocks/footer.scss";
@import "blocks/form.scss";
@import "blocks/header.scss";
@import "blocks/list-reset.scss";
@import "blocks/logo.scss";
@import "blocks/main.scss";
@import "blocks/map.scss";
@import "blocks/navigation.scss";
@import "blocks/order.scss";
@import "blocks/presentation.scss";
@import "blocks/process.scss";
@import "blocks/product-list.scss";
@import "blocks/promo.scss";
@import "blocks/review.scss";
@import "blocks/reviews.scss";
@import "blocks/social-list.scss";
@import "blocks/specification.scss";
@import "blocks/title.scss";
@import "blocks/video.scss";
@import "blocks/visually-hidden.scss";


body {
  font-family: "Open sans", sans-serif;
  color: #000000;
  margin: 0;
}
